*{
    align-items: center;
    justify-content: center;
    background-color: beige;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: lightblue;
    border: none;
    cursor: pointer;
}

textarea{
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid lightgray;
    resize: none;
    background-color: whitesmoke;
}